.bg-dark {
/*    background:url("../images/navBar.jpg")!important;*/
/*    background-repeat:no-repeat !important;*/
    width: 100%;
    background-color: #120D0D;
}

/*
.navbar {
    background:url("../images/northern_lights_1200.jpg")!important;
    background-repeat:no-repeat;
}
*/

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding: 1.2em;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.3em;
}

h2 {
font-family: 'Merriweather', serif;
    font-size: 2.0em;
}

h3 {
font-family: 'Merriweather', serif;
    font-size: 1.5em;
}

h4 {
font-family: 'Merriweather', serif;
    font-size: 1.0em;
}

h5 {
font-family: 'Marck Script', cursive;
    font-size: 1.7em;
}

h6 {
font-family: 'Oswald', sans-serif;
font-size: 2.5em;
}

h7 {
font-family: 'Oswald', sans-serif;
font-size: 1.3em;
}

h8 {
font-family: 'Oswald', sans-serif;
font-size: 1.3em;
}

h9 {
font-family: 'News Cycle', sans-serif;
font-size: 1.125em  
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    background-image: url(../images/lightpaperfibers_@2X.png);
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #99cc33;
    background:#663399;
    border-color: #663399;
    
}

.btn-primary:not(:disabled):not(.disabled).active {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: #ca3584;
    background:#663399;
    border-color: #663399;
    
}

.btn:hover { 
    color: #ca3584;
    background: #663399;
    border-color: #663399;
}

a:link {
    color: #ca3584; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #ca3584;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ca3584;
    background-color: transparent;
    text-decoration: underline;
}

.col.special {
    text-align: right;
}


.circle1 {
    width: 150px;
    height: 150px;
    background-color: #666699;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 40px 40px;
    padding-top: 40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    }
  
.circle2 {
    width: 150px;
    height: 150px;
    background-color: #663399;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 40px 40px;
    padding-top:40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    }
.circle3 {
    width: 150px;
    height: 150px;
    background-color: #336633;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 40px 40px;
    padding-top: 40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    }
.circle4 {
    width: 150px;
    height: 150px;
    background-color: #669966;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 40px 40px;
    padding-top: 40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    }
.circle5 {
    width: 150px;
    height: 150px;
    background-color: #cccc33;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 40px 40px;
    padding-top: 40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    }
.circle6 {
    width: 150px;
    height: 150px;
    background-color: #99cc33;
    border-radius: 50%;
    display: inline-block;
    margin: 20px 20px 40px 40px;
    padding-top: 40px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    }

.list-group {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.navbar-light .navbar-nav .nav-link {
    padding: 50px;
    color:#ca3584;
}

.navbar-light .navbar-nav .nav-link > a:hover {
    color: #99cc33;
    background-color: transparent;
    text-decoration: underline;
}


.row.space {
    padding-top: 50px;
}

.space {
    padding-top: 50px;
}

.text-center.logo img {
   margin: 0 30px 10px 0; 
}

.top {
    padding: 20px 10px 0px 20px;
/*    background-color:#663695;*/
    background:url("../images/headerii.png");
    background-repeat: no-repeat;
    height: 223px;
    width: 930px;
    color:#FFFFFF;
}

/*BODY STYLES*/

/*
.col.thumbs {
    text-align: center;
    padding-bottom: 50px;
}
*/

.jumbotron {
  color: white;
  background-image: url("../images/mn_splitrock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/*  height: 100vh;*/
}

.welcome {
    text-align: center;
    padding-top: 50px;
}

/*END BODY STYLES*/


/*BEGIN FOOTER STYLES*/

footer {
    height: auto;
    width: 100%;
    background-color: #343a40!important;
    color: #F7E8DA;
    }

footer p {
    margin-top: 30px;
    font-size: .75em;
}

.secondary_nav {
    display: block;
    text-align: center;
    padding: 10px;
/*    list-style-type: none;*/
    
}

ul.secondary_nav li {
    display: inline;
    float: left;
    padding: 3px;
/*    border-left: 1px solid #fff;*/
}

ul.secondary_nav li a {
    color: #F7E8DA;
    font-size: .75em;
}

ul.social {
    margin-top: 20px;
}

ul.social li {
    display: inline;
/*    padding-top: 10px;*/
    float: none;
}


ul.social li a {
    color: #F7E8DA;
    text-decoration: none;
    padding: 10px;
}

ul.social li a:hover {
    opacity: 0.8;
}

/*
footer p.copyright {
    float: right;
}
*/
/*END FOOTER STYLES*/
