#preloader, .sticky, .home, a.home-button, .services .single-service, a.about-btn, .progress-bar, .progress-bar span, .portfolio_filter ul li.mixitup-control-active:before, .grid-caption a i, #our-team .content ul li a, .counterup-area, .call-to-action-area, .contact-form button, footer, .social ul li a:hover, #our-team .content ul li a{
	background-color: #673AB7;
}
a.home-button, a.home-button:hover, a.about-btn, a.about-btn:hover{
	border-color:#673AB7
}
.progress-bar span:before{
	border-top-color:#673AB7
}
.contact-details h3, .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea{
	border-bottom-color:#673AB7
}
#our-team .content ul li a{
	border-color:#673AB7;
}
a.home-button:hover, .single-service:hover i, .single-service:hover h3, .single-service:hover p, a.about-btn:hover, .portfolio_filter ul li.mixitup-control-active, #our-team .content ul li a:hover, .card .blog-info, a.call-btn:hover, .contact-details ul li i, .social ul li a, #our-team .content ul li a:hover{
	color:#673AB7
}
.counterup-area:before{
	background-image: linear-gradient(to left, #673AB7, #673AB7);
}

@media screen and (max-width: 767px) {
nav {
	background: #673AB7;
}
}