
body {
    background-color: #534B50;
    font-family: 'quattrocento', serif;
    color: #FAF4F4;
}

h1 {
/*font-size: 1.2em;*/
    font-family: Acme, sans-serif;
    font-size: 40px;
}

.navbar {
    background-color: #534B50 !important;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #FAF4F4;
    font-size: 1.2em;
    padding: 30px;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #EF7C7C;
}


/*INDEX PAGE*/
#myhero {
    padding-top: 2em;
}


#main {
    padding: 2em 6em;
}

#tourimg img {
    margin-bottom: 10px;
}

#tourimg img:hover {
    opacity: 0.5;
}

body > div.jumbotron > div.row > div.col-md-4.offset-md-2.text-center > img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#tourtxt h4 {
    text-align: center;
}

/*END INDEX PAGE*/

/*ITEMS PAGE*/

.jumbotron {
    background-color: #72686e;
    margin: 0.625em 3.5em;
}

body > div.jumbotron > div > div.col-md-4.offset-md-6 {
   margin: 0;
}

.btn-primary{
    background-color: #EF7C7C;
    border: none;
    }
.btn-primary:hover {
    background-color: #AC1E23;
}

body > a > img {
    text-align: center;
}

.feature h3 {
    color: #EF7C7C;
    margin-bottom:1em;
}

.brews {
    margin-top: 2em;
    margin-bottom: 2em;
}

.navbar-light .navbar-nav .nav-link.disabled {
    font-size: 1.2em;
    padding: 30px;
}

.imagestxt {
    padding-top: 1.5em;
}

.img-thumbnail {
    background-color: transparent;
    border:none;
}

.col-sm > a > img:hover {
    opacity: 0.5;
}

/*SINGLE ITEM PAGE*/

.center-block > a > .img-responsive {margin: 0 auto;}

.singleItem {
    margin-bottom: 30px;
}


/*FOOTER*/

footer {
    margin-top:3em;
}

footer p {
    float: right;
}

.bottomborder {
    width: auto;
    height: 2px;
    background-color: #BCB8B8;
}

/*// small devices (tablets, 768px and down)*/
@media (max-width: 768px) {

    .navbar-light .navbar-nav .nav-link.disabled {
        font-size: 1em;
        padding: 0px;
        text-align: right;
    }

    .text-center {
        margin-bottom: 20px;
    }

    footer {
        margin-top: 1em;
        text-align: center!important;
        font-size: .5em;
    }

    footer p {
        float: none;
    }

    .logo {
        display: none;
    }

    .navbar-light .navbar-nav .active>.nav-link {
        color: #FAF4F4;
        font-size: 1em;
        padding: 0;
        text-align: right;
    }

        #main {
        padding: 1em;
    }
    .imagestxt {
        padding-top: 0;
    }

    .float-right {
        float: none!important;
    }

    .w-50 {
         width: 100%!important;
    }

    .btn-lg {
        font-size: 1rem;
    }

    .jumbotron {
        margin: 0;

}