@charset "UTF-8";

/*custom style style*/
body{
	/*padding-bottom: 120px;*/
	background-color: #ffffff;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 64px;
	color: #000000;
	}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 44px;
	color: #000000;
	}
h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 36px;
	color: #000000;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-size: 26px;
	color: #000000;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #000000;
}

.topborder {
	width: auto;
	height: 20px;
	background-color: #8b0409;
	margin-top: -5px;
}

/*Navigation*/

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

/*.hero{*/
/*!*position: absolute;*!*/
	/*width: 1439px;*/
	/*height: 773px;*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*background: url(../images/bannerimg1440x780.jpg);*/
	/*margin-bottom: 20px;*/
/*}*/

/*BODY*/

.about {
	padding-top: 20px;
	padding-bottom: 20px;
}

.about img {
padding-top: 40px;
}

.bizsvc a {
	color: #8b0409;
}

.btn-primary {
	color: #fff;
	background-color: #8b0409;
	border-color: #8b0409;
}

.btn-primary:hover {
	color: #fff;
	background-color: #C8D8E2;
	border-color: #C8D8E2;
}

.card {
	border: none;
	background-color: transparent;
}

.description {
	margin-bottom: 20px;
}

.dominique {
	background-color: #C8D8E2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dominique .img-thumbnail {
	background-color: transparent;
	border: 6px solid #d4c092;
}

.donna {
	background-color: #D5BEBE;
	padding-top: 20px;
	padding-bottom: 20px;
}

.donna .img-thumbnail {
	background-color: transparent;
	border: 6px solid #C8D8E2;
}

.event {
	background-color: #C8D8E2;
}

.itemized {
	background-color: #D5BEBE;
}

.jumbotron {
	background-color: transparent;
}

.list-group-item {
	background-color: transparent;
}

.maija {
	background-color: #D9D4CC;
	padding-top: 20px;
	padding-bottom: 20px;
}

.maija .img-thumbnail {
	background-color: transparent;
	border: 6px solid #D5BEBE;
}

.navbar {
	display: contents;
}

.nav-link {
	font-size: 1.3rem;
}

.pa {
	background-color: #D9D4CC;
}

.quote {
	background-color: #C8D8E2;
}

.quote p {
	font-family: 'Shadows Into Light', cursive;
	font-size: 72px;
	text-align: center;
	color: #000000;
}

.services{
	padding-top: 20px;
	padding-bottom: 20px;
}

.thumbnail img {
	border: 6px solid #C8D8E2;
}

a.thumbnail img:hover,
a.thumbnail img:focus,
a.thumbnail img.active {
	border-color: #8b0409;
}

/*FOOTER*/

.bottomborder {
	width: auto;
	height: 10px;
	background-color: #8b0409;
}


footer p.copyright {
	font-size: .5em;
	margin-top: .75em;
	color: #777;
}

footer p.icons {
	margin-top: .75em;
}

footer a {
	color: #9d9d9d;

}

footer a:hover, a:focus{
	color:#d4c092;
}



























/*// small devices (tablets, 768px and down)*/
@media (max-width: 768px) {

	/*h1 {font-family: Roboto Slab;*/
		/*font-size: 2rem;*/
		/*text-align: justify;*/
		/*color: #000000;*/
	/*}*/

	/*h2 {*/
		/*font-family: Roboto Slab;*/
		/*font-size: 1.5rem;*/
		/*text-align: justify;*/
		/*color: #000000;*/
	/*}*/
	/*h3 {*/
		/*font-family: Roboto Slab;*/
		/*font-size: 1rem;*/
		/*color: #000000;*/
	/*}*/

	/*h4 {*/
		/*font-family: Roboto Slab;*/
		/*font-size: .75rem;*/
		/*color: #000000;*/
	/*}*/

	/*p{*/
		/*font-family: 'Roboto', sans-serif;*/
		/*font-size: .5rem;*/
		/*color: #000000;*/
	/*}*/
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.nav-link {
		display: initial;
	}

	.logo {
		display: none;
	}

	.topborder {
		margin-top: auto;
	}

	.list-inline {
		display: none;

	/*.hero{*/
		/*background-repeat: no-repeat!important;*/
		/*background: url(../images/bannerimg350px.jpg);*/
		/*height: 190px;*/
		/*}*/

	.quote p {
		font-size: 2rem;
	}


}

/*!*Large devices (desktops, 992px and up)*!*/
/*@media (min-width: 992px) and (max-width: 1199.98px) { ... }*/

/*!*Extra large devices (large desktops, 1200px and up)*!*/
/*@media (min-width: 1200px) { ... }*/

/*!*Extra small devices (portrait phones, less than 576px)*!*/
/*@media (max-width: 575.98px) { ... }*/

/*!*Small devices (landscape phones, 576px and up)*!*/
/*@media (min-width: 576px) and (max-width: 767.98px) { ... }*/